// Media Queries

$break-phone: 768px;
$break-ipad: 1024px;
$break-laptop: 1280px;
$break-largetop: 1360px;
$break-desktop: 1680px;

// Colors

$main-background-color:rgb( 0, 0, 0 );
$background-color:rgb( 58, 58, 58 );
$text-background: #525252;
$border-color: #bababa;

$primary-color:rgb( 1, 222, 254 );
$secondary-color:rgb( 205, 22, 112 );
$thirdary-color:rgb( 159, 206, 80 );

$text-color: white;
$dark-text: #1d1d1b;

// Fonts

$primary-font: "Helvetica Neue";


